@import "tailwindcss";

@font-face {
  font-family: "Monumental";
  src: url("/src/assets/fonts/MonumentExtended-Ultrabold.otf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Monumental";
  src: url("/src/assets/fonts/MonumentExtended-Regular.otf");
  font-weight: 500;
  font-style: normal;
}

* {
  font-family: Monumental;
}

@keyframes slide-x {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(8px);
  }
}

.animate-slide-x {
  animation: slide-x 2s ease-in-out infinite;
}
